
ArumeData/
*.asv
arumeconf.mat
arumeconf.mat
arumeconf.mat
arumeconf.mat
arumeconf.mat
arumeconf.mat
arumeconf.mat
.DS_Store
arumeconf.mat
arumeconf.mat
arumeconf.mat
+ArumeHardware/@VOG/DownloadedData/
+ArumeHardware/@VOG/IP.txt
IP.txt